{% extends "base.html" %}
{% block content %}

<h2>Edit Student Grade Details:</h2>

<form id="update-courses" action="/courses/{{ student_course.id }}" method="POST">
    <div class="form">
        <label for="name">Grade</label>
        <input type="text" id="name" value="{{student_course.student.grade}}">
        <select name="levels" id="levels">
            <option value="A">A</option>
            <option value="Pre-Intermediate">B</option>
            <option value="Intermediate">C</option>
            <option value="Upper-Intermediate">D</option>
            <option value="Advanced">Fail</option>
        </select>
        <br>
        <input type="submit">
    </div>
</form>

{% endblock %}