{% extends "base.html" %}
{% block content %}

<h2>Edit Student Grade Details:</h2>

<form id="update-courses" action="/student_courses/{{ student_course.id }}" method="POST">
    <div class="form">
        <label for="grade">Grade</label>
        <select name="grade" id="levels">
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">Fail</option>
        </select>
        <br>
        <input type="submit" class="action-button">
    </div>
</form>

{% endblock %}