{% extends "base.html" %}
{% block content %}

<h2>Enrolment</h2>

{% for student_course in student_courses %}
   <ul>
       {{student_course.student.first_name}}  {{student_course.student.last_name}} 
    </ul>
    <ul>
   {{student_course.course.name}}
    </ul>
    <ul>
        {% if student_course.grade != None %}
            {{student_course.grade}}
        {% else %}
             Not yet graded
        {% endif %}
    </ul>

<div class="buttons">

<form class="delete" action="/student_courses/{{student_course.id}}/delete" method="POST">
    <button class="delete">
        <span class="mdi mdi-delete mdi-24px"></span>
        <span class="mdi mdi-delete-empty mdi-24px"></span>
        <span>Delete</span>
    </button>
    </form>
</div>   

<br>

<div class="buttons">

    <form class="edit" action="/student_courses/{{student_course.id}}/edit" method="POST">
        <button class="edit">
            <span class="mdi mdi-delete mdi-24px"></span>
            <span class="mdi mdi-delete-empty mdi-24px"></span>
            <span>Change Grade</span>
        </button>
        </form>
    </div>   

<hr>
   
{% endfor %}

{% endblock %}