{% extends "base.html" %}
{% block content %}
<h1>All Courses</h1>

<table class="all-courses-table">
    <tr>
        <table>
            <tbody>
            <tr>
            <td>Course name</td>
            <td>Level</td>
            <td>Days</td>
            </tr>
            {% for course in courses %}
            <tr>
            <td>{{course.name}}</td>
            <td>{{course.level}}</td>
            <td>{{course.days}}</td>
            </tr>
            </tbody>
            </table>
        <br>
        {% endfor %}
    </tr>
</table>

<div id = index-buttons-small>
    <button><a href="/courses/new">Add New Course</a></button>
    <button><a href="/student_courses">Enrolment</a></button>
    <button><a href="/student_courses/new">Add Student to Course</button>
</div>

{% endblock %}