<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sterling School Management</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/s_favicon.png') }}"/>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/forms.css">
</head>
<body>
    <header class="header">
        <a href="/"><img id="logo" src="static/images/s_favicon.png" alt="Sterling Logo"></a>
                <h1><a href="/">Sterling Management System</a></h1>
                <nav id="nav-bar">
                    <ul class="main-nav">
                        <li><a href="/students">Students</a></li>
                        <li><a href="/courses">Courses</a></li>
                        <li><a href="/student_courses">Enrolment</a></li>
                    </ul>
                </nav>
               
    </header>

    <main>
   
   {% block content %}
   {% endblock %}

    </main>

   <footer class="footer">
    
    <ul class="links">
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Accessibility Help</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <!-- <div class='footer-container'>
    
            <p>1 Rock House, Paper Avenue, Scissorville</p>
        <div class='contact'>
            <p><a href="#">07892 111 222</a></p> 
            <a href="#">rockpaperscissors@rockon.com</a>
        </div>
    </div> -->

    <p id="copyright">© 2021</p>

    </footer>
</body>
</html>