
{% extends "base.html" %}
{% block main %}
<div id = index-buttons-big>
    <button><a href="/students">View All Students</a></button>
    <button><a href="/courses">View All Courses</a></button>
    <button><a href="/student_courses"></a>View Current Enrolment</button>
</div>
<div id = index-buttons-small>
    <button><a href="/students/new">Add New Student</a></button>
    <button><a href="/courses/new">Add New Course</a></button>
    <button><a href="#"></a>Add Student to Course</button>
</div>
{% endblock %}

