
{% extends "base.html" %}
{% block content %}
<div class="button-group" style="text-align:center;">
    <button><a href="/students">View All Students</a></button>
    <br>
    <button><a href="/courses">View All Courses</a></button>
    <br>
    <button><a href="/student_courses">View Current Enrolment</button>
</div>

<br>

<div class="index-buttons-small">
    <button><a href="/students/new">Add New Student</a></button>
    <button><a href="/courses/new">Add New Course</a></button>
    <button><a href="/student_courses/new">Add Student to Course</button>
</div>
{% endblock %}

