{% extends "base.html" %}
{% block content %}

<h2>Update Student</h2>

<form id="update-student-form" action="/students/{{ student.id }}" method="POST">
    <div >
        <label for="first-name">First name:</label>
        <input type="text" id="first_name" name="last_name" value="{{ student.first_name }}">
    <div>
        <label for="last-name">Last name:</label>
        <input type="text" id="last_name" name="last_name" value="{{ student.last_name }}">
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" value="{{ student.email }}">
    </div>
    <div>
        <label for="telephone">Telephone:</label>
        <input type="text" id="telephone" name="telephone" value="{{ student.telephone }}">
    </div>
    <div> 
        <label for="level" id="level" for="level">Level</label>
        <select name="level" id="level"><option value="{{ student.level }}" selected>{{ student.level }}</option>
        <option value="Elementary">Elementary</option>
        <option value="Pre-Intermediate">Pre Intermediate</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Upper-Intermediate">Upper Intermediate</option>
        <option value="Advanced">Advanced</option>
        </select>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}