{% extends "base.html" %}
{% block content %}

<h2>All Students</h2>

<table class="">
    <tr>
        {% for student in students %}
        <p class="all-students-display"><a href="/students/{{ student.id }}"> {{student.get_full_name(student)}} </a></p>
        {% endfor %}
    </tr>
</table>

<div class="index-buttons-small">
    <button><a href="/students/new">Add New Student</a></button>
    <button><a href="/student_courses">Enrolment</a></button>
    <button><a href="/student_courses/new">Add Student to Course</a></button>
</div>

{% endblock %}