{% extends "base.html" %}
{% block content %}

<h2>All Students</h2>

<table class = table>
    <tr>
        {% for student in students %}
        <p><a href="/students/{{ student.id }}"> {{student.get_full_name(student)}} </a></p>
        {% endfor %}
    </tr>
</table>

<div id = index-buttons-small>
    <button><a href="/students/new">Add New Student</a></button>
    <button><a href="/student_courses">Enrolment</a></button>
    <button><a href="/student_courses/new">Add Student to Course</button>
</div>

{% endblock %}