{% extends "base.html" %}
{% block content %}
<h2>Add New Student</h2>
<form action="/students" method="POST" class="add-new-student-form">
    <ul>
        <li>
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" name="first_name">
        </li>
    
    <li>
        <label for="last_name">Surname</label>
        <input type="text" id="last_name" name="last_name">
        <span></span>
    </li>
    <li>
        <label for="email">Email</label>
        <input type="text" id="email" name="email">
    </li>
    <li>
        <label for="telephone">Telephone</label>
        <input type="text" id="telephone" name="telephone">
    </li>
    <li>
        <label id="level" for="level">Level</label>
        <select name="level" id="level">
        <option value="Elementary">Elementary</option>
        <option value="Pre-Intermediate">Pre Intermediate</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Upper-Intermediate">Upper Intermediate</option>
        <option value="Advanced">Advanced</option>
        </select>
    </li>
    <li>
        <label for="enrolled">Current student?</label>
        <input type="checkbox" name="enrolled" value="True" checked>
    </li>
    <li>
        <input type="submit">
    </li>
    </ul>
</form>

{% endblock %}