{% extends "base.html" %}
{% block content %}

<h1>Student Information</h1>
<h2>{{ student.get_full_name(student) }}</h2>

<table id="individual-student-display">
    <tbody>
    <tr>
    <td>Name</td>
    <td>{{student.get_full_name(student)}}</td>
    </tr>
    <tr>
    <td>Telephone</td>
    <td>{{student.telephone}}</td>
    </tr>
    <tr>
    <td>Email</td>
    <td>{{student.email}}</td>
    </tr>
    <tr>
    <td>Level</td>
    <td>{{student.level}}</td>
    </tr>
    <tr>
    <td>Courses</td>
    <td>{% for student_course in student_courses %}
        {% if student.id == student_course.student.id %}
    <ul value="{{student_course.id}}">{{student_course.course.name}}</ul> {% endif %}
    {% endfor %}</td>
    <td>
    </td>
    </tr>
    <tr>
    <td>Student Status</td>
    <td>{{student.enrolled}}
    </td>
    </tr>
    </tbody>
    </table>
    
<br>
<div id = index-buttons-small>
    <button><a href="/students/new">Add New Student</a></button>
    <button><a href="/students/{{student.id}}/edit">Update Student</a></button>
    <button><a href="/student_courses/new">Add Student to Course</a></button>
</div>

{% endblock %}